[submodule "synth-mutable-stmlib"]
	path = synth-mutable-stmlib
	url = git@git-rhino:rhinocerose/synth-mutable-stmlib/
	branch = main
[submodule "synth-mutable-stm-audio-bootloader"]
	path = synth-mutable-stm-audio-bootloader
	url = git@git-rhino:rhinocerose/synth-mutable-stm-audio-bootloader/
	branch = main
[submodule "synth-mutable-plaits-editor"]
	path = synth-mutable-plaits-editor
	url = git@git-rhino:rhinocerose/synth-mutable-plaits-editor/
	branch = main
[submodule "synth-mutable-anookum"]
	path = synth-mutable-anookum
	url = git@git-rhino:rhinocerose/synth-mutable-anookum/
	branch = main
[submodule "synth-mutable-anushri"]
	path = synth-mutable-anushri
	url = git@git-rhino:rhinocerose/synth-mutable-anushri/
	branch = main
[submodule "eurorack-mutable-uRings_SE"]
	path = eurorack-mutable-uRings_SE
	url = git@git-rhino:rhinocerose/eurorack-mutable-uRings_SE/
	branch = main
[submodule "eurorack-mutable-uPlaits_SE"]
	path = eurorack-mutable-uPlaits_SE
	url = git@git-rhino:rhinocerose/eurorack-mutable-uPlaits_SE/
	branch = main
[submodule "eurorack-mutable-uClouds_SE"]
	path = eurorack-mutable-uClouds_SE
	url = git@git-rhino:rhinocerose/eurorack-mutable-uClouds_SE/
	branch = main
[submodule "eurorack-mutable-uBraids_SE"]
	path = eurorack-mutable-uBraids_SE
	url = git@git-rhino:rhinocerose/eurorack-mutable-uBraids_SE/
	branch = main
[submodule "eurorack-mutable-dev-environment"]
	path = eurorack-mutable-dev-environment
	url = git@git-rhino:rhinocerose/eurorack-mutable-dev-environment/
	branch = main
[submodule "eurorack-mutable-calibrators"]
	path = eurorack-mutable-calibrators
	url = git@git-rhino:rhinocerose/eurorack-mutable-calibrators/
	branch = main
[submodule "eurorack-mutable-Wavelet"]
	path = eurorack-mutable-Wavelet
	url = git@git-rhino:rhinocerose/eurorack-mutable-Wavelet/
	branch = main
[submodule "eurorack-mutable-Apex"]
	path = eurorack-mutable-Apex
	url = git@git-rhino:rhinocerose/eurorack-mutable-Apex/
	branch = main
[submodule "eurorack-mutable"]
	path = eurorack-mutable
	url = git@git-rhino:rhinocerose/eurorack-mutable
	branch = main
[submodule "synth-mutable-ambika"]
	path = synth-mutable-ambika
	url = git@git-rhino:rhinocerose/synth-mutable-ambika
	branch = main
[submodule "synth-mutable-shruthi-1"]
	path = synth-mutable-shruthi-1
	url = git@git-rhino:rhinocerose/synth-mutable-shruthi-1
	branch = main
[submodule "synth-mutable-midipal"]
	path = synth-mutable-midipal
	url = git@git-rhino:rhinocerose/synth-mutable-midipal
	branch = main
[submodule "synth-mutable-module_tester"]
	path = synth-mutable-module_tester
	url = git@git-rhino:rhinocerose/synth-mutable-module_tester
	branch = main
